/* line 14, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 8, ../_sass/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, ../_sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, ../_sass/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 22, ../_sass/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 24, ../_sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 28, ../_sass/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 37, ../_sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../_sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../tools/ruby-1.9.2-p180-i386-mingw32/lib/ruby/gems/1.9.1/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 30, ../_sass/cake.scss */
body {
  background: #a4b45d url(/img/cake.jpg) left 40px fixed no-repeat;
  color: #635026;
}

/* line 35, ../_sass/cake.scss */
#container {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
}

/* line 42, ../_sass/cake.scss */
#top-bar-outer, header {
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 12;
}

/* line 53, ../_sass/cake.scss */
#top-bar-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #111;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background: -moz-linear-gradient(top, #333333, #111111);
  background: transparent	9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333',endColorstr='#111');
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 69, ../_sass/cake.scss */
#top-bar {
  margin: 0 auto;
  width: 920px;
  text-align: left;
  position: relative;
}

/* line 76, ../_sass/cake.scss */
#logo {
  float: left;
}

/* line 80, ../_sass/cake.scss */
#logo a {
  display: none;
}

/* line 93, ../_sass/cake.scss */
#top-bar ul, #top-bar nav {
  float: left;
  list-style-type: none;
  margin: 0;
}
/* line 98, ../_sass/cake.scss */
#top-bar ul li {
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
}
/* line 104, ../_sass/cake.scss */
#top-bar ul li a {
  color: #BABABA;
  padding: 10px 10px;
  height: 20px;
  display: block;
  font-weight: normal;
}

/* line 113, ../_sass/cake.scss */
#global-nav {
  float: left;
}
/* line 116, ../_sass/cake.scss */
#global-nav .active a {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
/* line 122, ../_sass/cake.scss */
#global-nav li a {
  margin-right: 1px;
  outline: none;
}

/* line 128, ../_sass/cake.scss */
#global-nav-feed {
  background: url(/img/rss.png) no-repeat 12px 12px;
  text-indent: -9999px;
  width: 40px;
}

/* line 134, ../_sass/cake.scss */
#main {
  margin: 60px auto 0 auto;
  text-align: left;
  width: 880px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  background: white;
  height: 100%;
  min-height: 500px;
  color: #444;
}
/* line 150, ../_sass/cake.scss */
#main a {
  color: #8C9C43;
}
/* line 153, ../_sass/cake.scss */
#main h2 {
  font: bold 18px Helvetica Neue,Helvetica,sans-serif;
  text-shadow: 0 1px 0 white;
  margin: 0 0 6px 0;
  color: #999;
}

/* line 161, ../_sass/cake.scss */
footer {
  height: 30px;
}
