---
---
@import 'normalize';
@import 'foundation/components/grid';
@import 'foundation/components/block-grid';
@import 'foundation/components/flex-video';
@import 'foundation/components/type';
@import 'foundation/components/visibility';
@import 'foundation/components/tables';
@import 'pygments';
@import 'underline';
@import 'vertical-rhythm';

.hero {
  min-height: 100vh;
  padding-top: 4em;
  padding-bottom: 3em;

  h1 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4em;
  }

  .text {
    padding-top: 1em;
    margin-top: 3em;
  }

  @media #{$medium-up} {
    .text {
      margin-top: 17em;
      padding-top: 1em;
    }
  }

}

.content {
  margin-top: 3em;
}

.post {
  margin-bottom: 4em;
}

.post-hero {
  padding-top: 6em;
  padding-bottom: 4em;
  h1 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4em;
  }
}

.hero {
  .text {
    border-left: 1px solid $body-font-color;
    border-bottom: 1px solid $body-font-color;
  }
}

h1, h2, h3 {
  font-family: $font-family-serif;
}

blockquote.attention-grabber {
  border-left: 0;
  padding-left: 0;
  padding-top: 0;
  margin-top: 3.2px;

  p {
    font-size: $h2-font-size - $h2-font-reduction;
    line-height: $header-line-height;
    color: $body-font-color;
    font-family: $font-family-serif;
  }

  cite {
    color: $body-font-color;
    font-style: normal;
    font-size: $base-font-size;
  }

  cite a, a {
    color: $body-font-color;
  }
}

@media #{$medium-up} {
  blockquote.attention-grabber {
    p {
      font-size: $h2-font-size;
    }
  }
}

blockquote.attention-grabber.small {
  p {
    font-size: $h3-font-size - $h3-font-reduction;
  }
}

@media #{$medium-up} {
  .attention-grabber.small {
    p {
      font-size: $h3-font-size;
    }
  }
}

.pull-quote {
  padding-left: 0;
  padding-right: 0;
}

