<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/index.css" | prepend: site.baseurl }}">
  <!-- <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'> -->

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme_vars.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- <link href='https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display:700' rel='stylesheet' type='text/css'> -->

	{% seo %}
</head>
