{% if page.breadcrumbs || site.breadcrumbs %}
<span xmlns:v="http://rdf.data-vocabulary.org/#">
  <span typeof="v:Breadcrumb">
    <a href="/" rel="v:url" property="v:title">Home</a> &rarr;
  </span>
  {% if page.breadcrumbs %}
    <span typeof="v:Breadcrumb">
    <a href="{% if page.breadcrumbs.url %}{{page.breadcrumbs.url}}{% else %}{{ page.url | canonical_url }}{% endif %}" rel="v:url" property="v:title" >{% if page.breadcrumbs.name %}{{page.breadcrumbs.name}}{% else %}{{page.breadcrumbs}}{% endif %}</a>
  </span>
  {% else %}
  <span typeof="v:Breadcrumb">
    <a href="{% if site.breadcrumbs.url %}{{site.breadcrumbs.url}}{% else %}{{ page.url | canonical_url }}{% endif %}" rel="v:url" property="v:title">{{site.breadcrumbs.name}}</a>
  </span>
  {% endif %}
</span>
{% endif %}