.cake {
  background:#A4B45D url(/img/cake.jpg) left 40px fixed no-repeat;
  color: #635026;

  #main {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    position: relative;
    background: white;
    color: #444;
    a {
      color: #8C9C43;
    }
    h2 {
      font: bold 18px Helvetica Neue,Helvetica,sans-serif;
      text-shadow: 0 1px 0 white;
      margin: 0 0 6px 0;
      color: #999;
    }
  }
}
