<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head xmlns:og="http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.site_name }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.url | canonical_url }}" /> 
    {% if site.author %}<meta name="author" content="{{site.author}}">{% endif %}

    <link href="/css/bootstrap.css" rel="stylesheet">
    {% if page.url == '/index.html' %}<link href="/css/app.css" rel="stylesheet">{% endif %}

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>
    {% include header.html %}
    {{ content }}
    
    <!-- Le javascript -->
    <!--<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--<script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script>$(function () { prettyPrint() })</script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-twipsy.js"></script>-->
    <script src="/js/bootstrap-scrollspy.js"></script>
    {% include ga.html %}
    {% include addthis.html %}
    {% include chrome_frame.html %}
    {% include microdata.html %}
  </body>
</html>
