---
layout: default
---

<div class="container">
  <div class="content">
  <br><br><br><br>
    <div id="grid-system">
      <div class="page-header">
        <h1>Rich snippet <small>Rock the standard 940px or roll your own</small></h1>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Default grid</h2>
          <p></p>
        </div>
        <div class="span12">
          <h3>Example grid markup</h3>
          <p></p>
        <pre class="prettyprint linenums"></pre>
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="span-one-third">
          <h3>History</h3>
          <p></p>
        </div>
        <div class="span-one-third">
          <h3>History</h3>
          <p></p>
        </div>
        <div class="span-one-third">
          <h3>History</h3>
          <p></p>
        </div>
      </div><!-- /row -->
    </div>
  </div>
  {% include footer.html %}
</div> <!-- /container -->
